<div id="dropdown1" class=" dropdown-content card">
  <div class="card-content ">
    <i class="material-icons prefix contactIcons">account_circle</i>
    <h1 class="card-title activator grey-text text-darken-4 loginTitle">
      Login
    </h1>
    <div class="row">
      <form id="userLoginInfo" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="userName" type="text" class="bodyFont">
            <label for="userName" class="bodyFont">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="bodyFont">
            <label for="password" class="bodyFont">Passsword</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button id="submitContactForm" class="btn waves-effect waves-light fontMerienda" type="submit">Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">
      <img id="site-logo" src="/images/RoadRunner.png" alt="Logo" style="height: 80px">
      <span class="logo-text">Road Runner</span>
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Login
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div id="slide-out" class="sidenav">
  <div class="card-content ">
    <i class="material-icons prefix contactIcons">account_circle</i>
    <h1 class="card-title activator grey-text text-darken-4 loginTitle">
      Login
    </h1>
    <div class="row">
      <form id="userLoginInfo" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="userName" type="text" class="bodyFont">
            <label for="userName" class="bodyFont">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="bodyFont">
            <label for="password" class="bodyFont">Passsword</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button id="submitContactForm" class="btn waves-effect waves-light fontMerienda" type="submit">Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons">menu</i>
</a>