<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">
      <img id="site-logo" src="/images/RoadRunner.png" alt="Logo" style="height: 80px">
      <span class="logo-text">Road Runner</span>
    </a>
  </div>
</nav>