<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">
      <img id="site-logo" src="/images/RoadRunner.png" alt="Logo" style="height: 80px">
      <span class="logo-text">Road Runner</span>
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a class="userEmail" href="#!">
          Not Logged In
        </a>
      </li>
    </ul>
  </div>
</nav>