<div id="dropdown1" class=" dropdown-content card">
  <div class="card-content ">
    <h1 class="card-title activator grey-text text-darken-4">
      Login
    </h1>
    <div class="row">
      <form id="userContactInfo" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix contactIcons">account_circle</i>
            <input id="fullName" type="text" class="validate bodyFont">
            <label for="fullName" class="bodyFont">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix contactIcons">Password</i>
            <input id="email" type="email" class="validate bodyFont">
            <label for="email" class="bodyFont">Passsword</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button id="submitContactForm" class="btn waves-effect waves-light fontMerienda" type="submit">Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <img id="site-logo" src="/images/RoadRunner.png" alt="Logo" style="height: 80px">
      <span class="logo-text">Road Runner</span>
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Login
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>