{{> nav-block}} {{!--
<div id="Rent-A-Car">
  <div id="content">
    <h1>{{> msg-block}}</h1>
  </div>
</div>
--}}
<div class="dateAndLocation">
  <div class="container">
    <div class="row">
      <form class="col s12" name="dateHourDetails">
        <div class="row">
          <div class="input-field col s6">
            <input id="pickupLocation" type="text">
            <label for="pickupLocation">Pick Up Location</label>
          </div>
          <div class="input-field col s6">
            <input id="dropoffLocation" type="text">
            <label for="dropoffLocation">Drop Off Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s3">
            <input id="pickupDate" placeholder="Pick Up Date" />
          </div>
          <div class="input-field col s3">
            <input id="pickupTime" type="text">
            <label for="pickupTime">Pick Up Time</label>
          </div>
          <div class="input-field col s3">
            <input id="dropoffDate" type="text">
            <label for="dropoffDate">Drop Off Date</label>
          </div>
          <div class="input-field col s3">
            <input id="dropoffTime" type="text">
            <label for="dropoffTime">Drop Off Time</label>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="d">
        Lets find you a car!
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>

<script src="/js/index.js"></script>