{{> nav-block}}
<main>
  <div class="container">
    <div class="row">
      <h3>Locations</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col l4">
          <h4>Las Vegas</h4>
          <img class="locations" src="images/las-vegas.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            Barcelona
          </h4>
          <img class="locations" src="images/barcelona.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            Rome
          </h4>
          <img class="locations" src="images/rome.jpg" alt="">
        </div>
      </div>
      <div class="row">

        <div class="col l6">
          <h4>
            Amsterdam
          </h4>
          <img class="locations" src="images/amsterdam.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col l6">
          <h4>
            Los Angeles
          </h4>
          <img class="locations" src="images/losangeles.jpg" alt="">
        </div>
        <div class="col l6">
          <h4>
            New York
          </h4>
          <img class="locations" src="images/newyork.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <h1>
          About Us!
        </h1>
      </div>
    </div>
  </div>
</main>
{{> footer-block}}