{{> nav-block}}
<main>
  <div class="container">
    <div class="row">
      <h3>Locations</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col l4">
          <h4>Las Vegas</h4>
          <img class="locations" src="images/las-vegas.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            Barcelona
          </h4>
          <img class="locations" src="images/barcelona.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            Rome
          </h4>
          <img class="locations" src="images/rome.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col l4">
          <h4>
            Amsterdam
          </h4>
          <img class="locations" src="images/amsterdam.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            Los Angeles
          </h4>
          <img class="locations" src="images/losangeles.jpg" alt="">
        </div>
        <div class="col l4">
          <h4>
            New York
          </h4>
          <img class="locations" src="images/newyork.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <h1>
          About Us!
        </h1>
      </div>
      <div class="row">
        <div class="col">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam corrupti omnis vel perspiciatis alias, quia repellendus
            atque laborum ex illum autem labore excepturi eveniet harum laudantium nulla saepe est? Error. Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Quidem magni atque a vel reprehenderit voluptatem corporis quod consequuntur
            at illum enim, fuga laborum. Expedita, reprehenderit? Eveniet rem unde deserunt quos!
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer-block}}