{{> nav-block}}
<main>
  <div class="container">
    <div class="row signuprow center-align">
      <div class="col l4 offset-l4 signupcol center-align">
        <h3>
          Sign Up for an account!
        </h3>
        <img class="signupImage" src="images/RoadRunner.png" alt="">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="userName" type="text" class="validate" placeholder="Username">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="text" class="validate" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" placeholder="youremail@someservice.com">
              </div>
            </div>
          </form>
          <button>
            Create Account!
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer-block}}