{{> nav-block}}
<main>
  <div class="container">
    <div class="row signuprow center-align">
      <div class="col l4 offset-l4 signupcol center-align">
        <h3>
          Sign Up for an account!
        </h3>
        {{!-- <img class="signupImage" src="images/RoadRunner.png" alt=""> --}}
        <div class="row">
          <form name="signUp" class="col s12 createUser signUp">
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" placeholder="youremail@someservice.com">
                </div>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" placeholder="Password">
              </div>
            </div>
            <input type="submit" id="submit" name="signUp">
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer-block}}