{{> nav-block}}
<main>
  <div class="container">
    <div class="row signuprow center-align">
      <div class="col l4 offset-l4 signupcol center-align">
        <h3>
          Sign Up for an account!
        </h3>
        <img class="signupImage" src="images/RoadRunner.png" alt="">
        <div class="row">
          <form name="signUp" action="/api/signup" method="GET" class="col s12 createUser signUp">
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" name="email" type="email" class="validate" placeholder="youremail@someservice.com">
                </div>
              </div>
              <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" placeholder="Password">
              </div>
            </div>
            <button class="btn btn-waves" type="submit" id="submit">Sign Up!</button>
            <a class="btn btn-waves" href="/">Login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer-block}}