nav {
  background: grey;
  max-width: 100%;
}

.logo-text {
  display: inline-block;
  color: #eebf47;
  text-decoration: none;
  font-family: "Do Hyeon", sans-serif;
  vertical-align: 30%;
}

#dropdown1 {
  background: grey;
  width: 500px !important;
}

.dateAndLocation {
  background-image: url("../images/snow_mountains_forest_landscape_road-21144.jpg");
  background-position: center;
  margin-top: 10px;
}

.input-field>label {
  color: white;
}

label.active {
  color: white !important;
}

.findCar {
  text-align: center;
}
